<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="20480" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
				  <match url="(.*)" /> <!-- Áp dụng quy tắc cho tất cả các URL -->
				  <conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				  </conditions>
				  <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
                <!-- Handle Resource Files Like CSS, JS, Images -->
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^(css|js|images|assets|fonts|img|storage)/(.*)" />
                    <action type="Rewrite" url="public/{R:1}/{R:2}" />
                </rule>
                <!-- Handle PHP Routing -->
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public/index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <!-- Static content handling to add missing MIME types -->
        <staticContent>
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="public/index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
